<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="homestyle.css"/> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Anton%7CBaskervville%7CRaleway&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <link rel="shortcut icon" type="image" href="https://yt3.ggpht.com/a/AATXAJzVDlAQCUpOohBqU9K3fYg11thQAmze5kwPzdjxDg=s900-c-k-c0xffffffff-no-rj-mo">

    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
    <title>Khaled</title>
</head>
<body>
    <style>
        html{
            height: fit-content;
          padding: 0%;
          margin: 0%;
        }
     .container{
    /* padding: 0%; */
    /* margin: 0%; */
        display: flex; 
         width: 100%;
        height: 650px;
        /* background-color: black; */
     }.menubar{          /*  menubar start*/
        height: 100%;
        width: 11%;
        background-color: rgba(27, 27, 27,0.9);
     
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }.img1{
        width: 100%;
        height: 190px;
      /* opacity: 0.5; */
        /* background-color: black; */
     }.fristul{
        /* background-color: brown; */
        width: 100%;
        height: fit-content;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
       
        margin: 0%;
     }.menueli1{
        display: flex;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        align-items: center;
        justify-content: center;
        width:100%;
        height: 45px;
        color: #a3a0a0e5;
        border-top: 3px rgb(32, 32, 32) solid;
        /* background-color: red; */
        z-index: 4;
        cursor: pointer;
        font-weight: 700;
        font-size:larger;
        /* font-style: italic; */
        transition: 0.5s;
     }.lastli{
        border-bottom: 3px rgb(32, 32, 32) solid;
     
     }.menueli1a{
        display: flex;
        /* background-color: beige; */
       justify-content: center;
       align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color:#a3a0a0e5 ;
     }.menueli1a:hover{
        color: aquamarine;
     }
     .menueli1:hover{
        color: aquamarine;
        border-top: 1px aquamarine solid;
        /* border-bottom: 1px aquamarine solid; */
        border-bottom: 1px rgb(253, 5, 50) solid;
        text-shadow: 5px  5px  0 rgb(253, 5, 50);
        border-left: 1px rgb(253, 5, 50) solid;
     }.secul{
          /* background-color: brown; */
          width: 100%;
        height: fit-content;
        list-style: none;
        display: flex;
        /* flex-direction: column; */
        justify-content: space-evenly;
        align-items: center;
        padding: 0%;
        margin: 0%;
     }#profile-link{
        color: #DDD;
        text-decoration: none;
        height: 20px;
     }
     i{
        /* height: 20px; */
       /* background-color: blue; */
       font-size:x-large;
       transition: 0.5s; 
    }
     
    i:hover{
        color: aquamarine;
        /* border-top: 1px aquamarine solid; */
        /* border-right: 1px aquamarine solid; */
        /* border-bottom: 1px rgb(253, 5, 50) solid; */
        /* border-left: 1px rgb(253, 5, 50) solid; */
        text-shadow: 5px  5px  0 rgb(253, 5, 50);

     }
     
     
     
     
     
     /*  menubar end*/
     .main{
        width: 89%;
        height: 100%;
        /* background-color: aqua; */
        /* border: 1px aqua solid; */
       background-color: rgb(32, 32, 32);
       /* background-image: url("https://res.cloudinary.com/dfbspvgdo/image/upload/v1703087368/Yelp-camp/yzokwzu0ybignsrldmkg.gif"); */
     }
     body{
        background-image: url("https://res.cloudinary.com/dfbspvgdo/image/upload/v1703334426/Yelp-camp/xrwebdo5bzi0uxbn8xpj.gif");
       background-size: cover;         /* width: 3450vh; */
        height:fit-content ;
        padding: 0%;
        margin: 0%;
        
     }.mainbutton{
        width: 230px;
        height: 60px;
        border: 2px aquamarine solid;
        background-color: rgb(32, 32, 32) ;
        color: aquamarine;
        font-weight: 800;
        font-size: 15px;
        cursor: pointer;
        transition: 0.7s;
        position: relative;

        /* left:70%; */
     }.mainbutton:hover{
        /* color: rgb(253, 5, 50); */
        box-shadow:5px 5px rgb(253, 5, 50) ; 
        text-shadow:5px 5px rgb(253, 5, 50) ; 

        border-top: 2px aquamarine solid;
        border-right: 2px aquamarine solid;
        border-left: 2px rgb(253, 5, 50) solid;
        border-bottom: 2px rgb(253, 5, 50) solid;
     }#carousel-p{
        background-color: rgba(0,0,0,0.4);
     }@media ( max-width: 1000px){
        i{
        /* height: 20px; */
       /* background-color: blue; */
       font-size:18px;
    
    }
    .menueli1{
       font-weight: 300;
       font-size:18px;
        
     }body{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1100px;
      height:2000px;
      background-image: url("https://res.cloudinary.com/dfbspvgdo/image/upload/v1703334426/Yelp-camp/xrwebdo5bzi0uxbn8xpj.gif");
       background-size: cover;    
    }.container{
        height: 650px;
    }
         
    }

    </style>
    <div class="container">
    <div class="menubar">
        <!-- <div class="img1"> -->
            <img id="hp-video" class="img1"  playsinline="" autoplay="" muted="" loop="" src="https://res.cloudinary.com/dfbspvgdo/image/upload/v1703261314/Yelp-camp/zayppptghjdeimqqsmd7.gif">
            <!-- </video> -->
        <!-- </div> -->
        <ul class="fristul">
            <li class="menueli1"><a href="/" class="menueli1a">About</a></li>
            <li class="menueli1"><a href="/skills" class="menueli1a">My Skills</a></li>
            <li class="menueli1"><a href="/experiance" class="menueli1a">Experiace </a></li>
           <li class="menueli1"><a href="/projects" class="menueli1a"> Projects </a></li>
            <li class="menueli1 lastli"><a href="/contacts" class="menueli1a">Contacts</a></li>
        
        </ul>
        <ul class="secul">
            <li class="secli2"><a href="https://www.facebook.com/khaled.shrief.9?mibextid=ZbWKwL" id="profile-link" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li class="secli2"><a href="" id="profile-link" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li class="secli2"><a href="" id="profile-link" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li class="secli2"><a href="https://www.linkedin.com/in/khaled-shrief-a9a004228" id="profile-link" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
        <div></div>
    </div>
    <div class="main">
       
          
       <div data-role="carousel"
       data-cls-bullet="bullet-big"
       data-auto-start="true"
       data-cls-controls="fg-white"
       data-bullets-position="right"
       data-control-next="<span class='mif-chevron-right fg-cyan'></span>"
       data-control-prev="<span class='mif-chevron-left fg-cyan'></span>"
        data-height="650px"
         class="bg-dark"
       >
      
  
      <div class="slide p-2 pl-10 pr-10" width="80%"data-cover="https://res.cloudinary.com/dfbspvgdo/image/upload/v1712360390/Screenshot_22_omicai.png">
          <div class="row flex-align-center h-100">
              <div class="cell-md-8 " >

                </div>
              
              <div class="cell-md-4 text-center">
                  <div class="img-container drop-shadow">
                  </div>
              </div>

          </div>

      </div>

 <div class="slide p-2 pl-10 pr-10" data-cover="https://res.cloudinary.com/dfbspvgdo/image/upload/v1712361141/UC-d5d9d377-95a2-4a03-9276-aad4116a8ab3_s5buzt.jpg">
          <div class="row flex-align-center h-100">
              <div class="cell-md-8 " >

                </div>
              
              <div class="cell-md-4 text-center">
                  <div class="img-container drop-shadow">
                  </div>
              </div>

          </div>

      </div>





 

  </div>


    </div>
    <script>
    //   const buttons =  document.querySelectorAll("[data-carousel-button]")
    const li1 = document.querySelectorAll(".menueli1") 
    const button = document.querySelector(".mainbutton")
    const letter = document.querySelector(".mainh1::first-letter")
    const main = document.querySelector(".main")
    const coloring =(color,delay)=>{
//  carsol
// buttons.forEach(b =>{
//     b.addEventListener("click",()=>{
//      const offset = b.dataset.carouselButton === "next" ? 1 : -1
//      const slides = b.closest("[data-carousel]").querySelector("[data-slides]")
//      const activeSlide = slides.querySelector("[data-active]")
//      let newIndex =[...slides.children].indexOf(activeSlide)+ offset 
//     if(newIndex < 0) newIndex = slides.children.length - 1
//     if(newIndex >= slides.children.length )newIndex = 0 
    
//     slides.children[newIndex].dataset.active = true
//     delete activeSlide.dataset.active
// })
// })
//  carsol
 
 
        return new Promise ((resolve,reject) =>{
    setTimeout(()=>{
        button.style.color= color;
        button.style.border=`2px ${color} solid`;
    },delay)  
    resolve()
 });
};
const glitching= (p,d)=>{
    setTimeout(()=>{
    //  button.style.postion = "relative"
     button.style.left = p

    },d)
}
const dis= (p,d)=>{
    setTimeout(()=>{
    //  button.style.postion = "relative"
     button.style.display = p

    },d)
}

button.addEventListener("mouseover",()=>{
    // dis("none",500)
    glitching("40px",200)
    glitching("-10px",300)
    glitching("-40px",500)
    glitching("-20px",700)
    glitching("20px",900)
    glitching("-10px",1100)
    glitching("0px",1300)
    // dis("inline",600)
    // coloring("rgb(253, 5, 50)",200)
coloring("aquamarine",500)
coloring("rgb(253, 5, 50)",800);
coloring("rgb(32, 32, 32)",200);
coloring("rgb(32, 32, 32)",1150);
// coloring("gray",1500);
coloring("rgb(253, 5, 50)",2000);
coloring("aquamarine",2300);
})

    








// const haa=()=>{
//     console.log("klaus")
//     main.style.border = "1px red solid"
// }
// li1.addEventListener("mouseover",haa())
// const glitching2= (p,d)=>{
//     return new Promise ((resolve,reject) =>{

//     setTimeout(()=>{
//     //  button.style.postion = "relative"
//      letter.style.color = p

//     },d)
//     resolve()

// })
// }
// glitching2("aquamarine",1000)
// glitching2("rgb(253, 5, 50)",2000)
// glitching2("aquamarine",3000)
// glitching2("rgb(253, 5, 50)",4000)
    </script>
        <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>

</body>
</html>