<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="homestyle.css"/> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Anton%7CBaskervville%7CRaleway&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" type="image" href="https://yt3.ggpht.com/a/AATXAJzVDlAQCUpOohBqU9K3fYg11thQAmze5kwPzdjxDg=s900-c-k-c0xffffffff-no-rj-mo">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <title>Khaled</title>
</head>
<body>
    <style>
        html{
            height: fit-content;
        }
     .container{
    display: flex;      width: 100%;
        height: 850px;
        background-color: black;
     }.menubar{          /*  menubar start*/
        height: 100%;
        width: 8.5%;
        background-color: rgba(27, 27, 27,0.9);
     
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }.img1{
        width: 100%;
        height: 190px;
        background-color: black;
     }.fristul{
        /* background-color: brown; */
        width: 100%;
        height: fit-content;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
       
        margin: 0%;
     }.menueli1{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        height: 45px;
        color: #a3a0a0e5;
        border-top: 3px rgb(32, 32, 32) solid;
        /* background-color: red; */
        z-index: 4;
        cursor: pointer;
        font-weight: 700;
        font-size:larger;
        /* font-style: italic; */
        transition: 0.5s;
     }.lastli{
        border-bottom: 3px rgb(32, 32, 32) solid;
     
     }.menueli1a{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      display: flex;
        /* background-color: beige; */
       justify-content: center;
       align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color:#a3a0a0e5 ;
     }.menueli1a:hover{
        color: aquamarine;
     }
     .menueli1:hover{
        color: aquamarine;
        border-top: 1px aquamarine solid;
        /* border-bottom: 1px aquamarine solid; */
        border-bottom: 1px rgb(253, 5, 50) solid;
        text-shadow: 5px  5px  0 rgb(253, 5, 50);
        border-left: 1px rgb(253, 5, 50) solid;
     }.secul{
          /* background-color: brown; */
          width: 100%;
        height: fit-content;
        list-style: none;
        display: flex;
        /* flex-direction: column; */
        justify-content: space-evenly;
        align-items: center;
        padding: 0%;
        margin: 0%;
     }#profile-link{
        color: #DDD;
        text-decoration: none;
        height: 20px;
     }
     i{
        /* height: 20px; */
       /* background-color: blue; */
       font-size:x-large;
       transition: 0.5s; 
    }
     
    i:hover{
        color: aquamarine;
        /* border-top: 1px aquamarine solid; */
        /* border-right: 1px aquamarine solid; */
        /* border-bottom: 1px rgb(253, 5, 50) solid; */
        /* border-left: 1px rgb(253, 5, 50) solid; */
        text-shadow: 5px  5px  0 rgb(253, 5, 50);

     }
     
     
     
     
     
     /*  menubar end*/
     .main{
        width: 91.5%;
        height: 100%;
        /* background-color: aqua; */
        /* border: 1px aqua solid; */
       /* background-color: rgb(32, 32, 32); */
       background-image: url("https://res.cloudinary.com/dfbspvgdo/image/upload/v1703334426/Yelp-camp/xrwebdo5bzi0uxbn8xpj.gif");
       background-size: cover; 
     }.intro{
        /* padding: 10px; */
        /* border: 2px aqua solid; */
        width:50%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        position: relative;
        /* left:20%; */
        z-index: 3;
        align-items: self-start;
     }.mainh1{
        color: white;
        font-size: 100px;
     }.section1{
        /* border: 1px aqua solid; */
      display: flex;
      justify-content: space-between;
        width: 100%;
        height: fit-content;
        align-items: center;
        padding: 20px;
        color: #DDD;
        background: rgba(0, 0, 0,0.3);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       transition: 1s; 
    }.section1:hover{
        background: rgba(0, 0, 0,0.4);

     }
     .text1{
        width: 50%;
        height: fit-content;
     }
     .section2{
        /* border: 1px aqua solid; */
        width: 91%;
        height: 20%;
        padding: 20px;
        color: #DDD;

     }.section3{
        /* border: 1px aqua solid; */
        width: 91%;
        height: 20%;
        padding: 20px;
        color: #DDD;

     }.contacts2{
        border-radius: 50%;
        width: 65px;
        height: 65px;
        font-size: 35px;
        border:1px white solid;
        /* background:none ; */
        background-color: white;
        cursor: pointer;
     }
     .mainbutton{
        width: 230px;
        height: 60px;
        border: 2px aquamarine solid;
        background-color: rgb(32, 32, 32) ;
        color: aquamarine;
        font-weight: 800;
        font-size: 15px;
        cursor: pointer;
        transition: 0.7s;
        position: relative;

        /* left:70%; */
     }.mainbutton:hover{
        text-shadow:5px 5px rgb(253, 5, 50);
        border-bottom: 2px rgb(253, 5, 50) solid;
        border-top: 2px aquamarine solid;
        border-right: 2px aquamarine solid;
        border-left: 2px rgb(253, 5, 50) solid;
     }.main-p{
        /* background-color: aqua; */
        width: 100%;
        height: fit-content;
        font-size: 25px;
        font-family:'Times New Roman', Times, serif;
        font-style: italic;
        color: #a3a0a0e5;
     }
     body{
        background-color: black;
        /* width: fit-content; */
        height:fit-content ;
        padding: 0%;
        margin: 0%;
     }.mainh1::first-letter{
         color:rgb(253, 5, 50) ;
     }@media ( max-width: 1000px){
        i{
        /* height: 20px; */
       /* background-color: blue; */
       font-size:x-small;
    
    }
    .menueli1{
       font-weight: 300;
       font-size:8px;
        
     }.mainh1{
      font-size: 50px;
     }.contacts2{
        width: 45px;
        height: 45px;
        font-size: small;
     }.text1{
        font-size: 12px;
     }.intro{
        width: 100%;
     }.section1{
        padding: 0px;
     }
         
    }
    </style>
    <div class="container">
    <div class="menubar">
        <!-- <div class="img1"> -->
            <img id="hp-video" class="img1"  playsinline="" autoplay="" muted="" loop="" src="https://res.cloudinary.com/dfbspvgdo/image/upload/v1703261314/Yelp-camp/zayppptghjdeimqqsmd7.gif">
            <!-- </video> -->
        <!-- </div> -->
        <ul class="fristul">
            <li class="menueli1"><a href="/" class="menueli1a">About</a></li>
            <li class="menueli1"><a href="/skills" class="menueli1a">My Skills</a></li>
            <li class="menueli1"><a href="/experiance" class="menueli1a">Experiace </a></li>
           <li class="menueli1"><a href="/projects" class="menueli1a"> Projects </a></li>
            <li class="menueli1 lastli"><a href="/contacts" class="menueli1a">Contacts</a></li>
        
        </ul>
        <ul class="secul">
            <li class="secli2"><a href="https://www.facebook.com/khaled.shrief.9?mibextid=ZbWKwL" id="profile-link" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li class="secli2"><a href="" id="profile-link" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li class="secli2"><a href="" id="profile-link" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li class="secli2"><a href="https://www.linkedin.com/in/khaled-shrief-a9a004228" id="profile-link" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
        <div></div>
    </div>
    <div class="main">
        
        <div class="intro">
            <div class="section1">
                <a href="https://maps.app.goo.gl/PyKa3w9VM4GA3hrYA"><button class="contacts2"><i class="fa fa-map-marker"></i></button></a>
                <div class="text1">
                
                    <p>181 Pyramid's Garden A2 Cairo
                        <br>Egypt
                        </p>

                    </div>
                    <a href="https://maps.app.goo.gl/PyKa3w9VM4GA3hrYA"><button class="mainbutton">Check Address !</button></a>

                </div>
            <div class="section1">
          <a href="https://wa.me/201067267236"><button class="contacts2"><i class="fa fa-comments" ></i></button></a>
          <div class="text1">

          <p>Contact Me<br>via<br>what's App</p>
  
        </div>
        <a href="https://wa.me/201067267236"><button class="mainbutton">Contact Me !</button></a>

         </div>
          <div class="section1">
  <a href="mailto:shriefkhaled94@gmail.com"><button class="contacts2"><i class="fa fa-envelope"></i></button></a>
  <div class="text1">

    <p>Contact Me<br>via<br>Gmail</p>  </div>
    <a href="mailto:shriefkhaled94@gmail.com"><button class="mainbutton">Contact Me !</button></a>

</div>      
</div>
    </div>

    </div>
  
</body>
</html>