<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="homestyle.css"/> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Anton%7CBaskervville%7CRaleway&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" type="image" href="https://yt3.ggpht.com/a/AATXAJzVDlAQCUpOohBqU9K3fYg11thQAmze5kwPzdjxDg=s900-c-k-c0xffffffff-no-rj-mo">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <title>Khaled</title>
</head>
<body>
    <style>
        html{
            height: fit-content;
        }
     .container{
    display: flex;      width: 100%;
        height: 850px;
        background-color: black;
     }.menubar{          /*  menubar start*/
        height: 100%;
        width: 8.5%;
        background-color: rgba(27, 27, 27,0.9);
     
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }.img1{
        width: 100%;
        height: 190px;
        background-color: black;
     }.fristul{
        /* background-color: brown; */
        width: 100%;
        height: fit-content;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
       
        margin: 0%;
     }.menueli1{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        height: 45px;
        color: #a3a0a0e5;
        border-top: 3px rgb(32, 32, 32) solid;
        /* background-color: red; */
        z-index: 4;
        cursor: pointer;
        font-weight: 700;
        font-size:larger;
        /* font-style: italic; */
        transition: 0.5s;
     }.lastli{
        border-bottom: 3px rgb(32, 32, 32) solid;
     
     }.menueli1a{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

      display: flex;
        /* background-color: beige; */
       justify-content: center;
       align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color:#a3a0a0e5 ;
     }.menueli1a:hover{
        color: aquamarine;
     }
     .menueli1:hover{
        color: aquamarine;
        border-top: 1px aquamarine solid;
        /* border-bottom: 1px aquamarine solid; */
        border-bottom: 1px rgb(253, 5, 50) solid;
        text-shadow: 5px  5px  0 rgb(253, 5, 50);
        border-left: 1px rgb(253, 5, 50) solid;
     }.secul{
          /* background-color: brown; */
          width: 100%;
        height: fit-content;
        list-style: none;
        display: flex;
        /* flex-direction: column; */
        justify-content: space-evenly;
        align-items: center;
        padding: 0%;
        margin: 0%;
     }#profile-link{
        color: #DDD;
        text-decoration: none;
        height: 20px;
     }
     i{
        /* height: 20px; */
       /* background-color: blue; */
       font-size:x-large;
       transition: 0.5s; 
    }
     
    i:hover{
        color: aquamarine;
        /* border-top: 1px aquamarine solid; */
        /* border-right: 1px aquamarine solid; */
        /* border-bottom: 1px rgb(253, 5, 50) solid; */
        /* border-left: 1px rgb(253, 5, 50) solid; */
        text-shadow: 5px  5px  0 rgb(253, 5, 50);

     }
     
     
     
     
     
     /*  menubar end*/
     .main{
        width: 91.5%;
        height: 100%;
        /* background-color: aqua; */
        /* border: 1px aqua solid; */
       background-color: rgb(32, 32, 32);
       background-image: url("https://res.cloudinary.com/dfbspvgdo/image/upload/v1703337892/Yelp-camp/ikjg1x99yurxgu8qf5qf.gif");
       /* https://res.cloudinary.com/dfbspvgdo/image/upload/v1703336061/Yelp-camp/kaam35zrymd2nbntgwfu.gif */
            background-size: cover;         /* width: 3450vh; */

      }.intro{
        padding: 10px;
        /* border: 2px aqua solid; */
        width:55%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        position: relative;
        left:5%;
        z-index: 3;
        align-items: self-start;
     }.mainh1{
        color: white;
        font-size: 100px;
     }.mainbutton{
        width: 230px;
        height: 60px;
        border: 2px aquamarine solid;
        background-color: rgb(32, 32, 32) ;
        color: aquamarine;
        font-weight: 800;
        font-size: 15px;
        cursor: pointer;
        transition: 0.7s;
        position: relative;

        /* left:70%; */
     }.mainbutton:hover{
        color: rgb(253, 5, 50);
        border: 2px rgb(253, 5, 50) solid;
     }.main-p{
        /* background-color: aqua; */
        width: 100%;
        height: fit-content;
        font-size: 25px;
        font-family:'Times New Roman', Times, serif;
        font-style: italic;
        color: #a3a0a0e5;
     }
     body{
        background-color: black;
        /* width: fit-content; */
        height:fit-content ;
        padding: 0%;
        margin: 0%;
     }.mainh1::first-letter{
         color:rgb(253, 5, 50) ;
     }@media ( max-width: 1000px){
        i{
        /* height: 20px; */
       /* background-color: blue; */
       font-size:x-small;
    
    }
    .menueli1{
       font-weight: 300;
       font-size:8px;
        
     }.mainh1{
      font-size: 50px;
     }
         
    }
    </style>
    <div class="container">
    <div class="menubar">
        <!-- <div class="img1"> -->
            <img id="hp-video" class="img1"  playsinline="" autoplay="" muted="" loop="" src="https://res.cloudinary.com/dfbspvgdo/image/upload/v1703261314/Yelp-camp/zayppptghjdeimqqsmd7.gif">
            <!-- </video> -->
        <!-- </div> -->
        <ul class="fristul">
            <li class="menueli1"><a href="/" class="menueli1a">About</a></li>
            <li class="menueli1"><a href="/skills" class="menueli1a">My Skills</a></li>
            <li class="menueli1"><a href="/experiance" class="menueli1a">Experiace </a></li>
           <li class="menueli1"><a href="/projects" class="menueli1a"> Projects </a></li>
            <li class="menueli1 lastli"><a href="/contacts" class="menueli1a">Contacts</a></li>
        
        </ul>
        <ul class="secul">
            <li class="secli2"><a href="https://www.facebook.com/khaled.shrief.9?mibextid=ZbWKwL" id="profile-link" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li class="secli2"><a href="" id="profile-link" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li class="secli2"><a href="" id="profile-link" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li class="secli2"><a href="https://www.linkedin.com/in/khaled-shrief-a9a004228" id="profile-link" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
        <div></div>
    </div>
    <div class="main">
        
        <div class="intro">
            
          <h1 class="mainh1">Hi,<br>I'm Khaled,<br>Web devoleper</h1>
          <p class="main-p">Full Stak Developer / Technical Support Engineer</p> 
          <a href="mailto:shriefkhaled94@gmail.com"><button class="mainbutton">Contact Me !</button></a>
        </div>
    </div>

    </div>
    <script>
    const li1 = document.querySelectorAll(".menueli1") 
    const button = document.querySelector(".mainbutton")
    const letter = document.querySelector(".mainh1::first-letter")
    const main = document.querySelector(".main")
    const coloring =(color,delay)=>{
 return new Promise ((resolve,reject) =>{
    setTimeout(()=>{
        button.style.color= color;
        button.style.border=`2px ${color} solid`;
    },delay)  
    resolve()
 });
};
const glitching= (p,d)=>{
    setTimeout(()=>{
    //  button.style.postion = "relative"
     button.style.left = p

    },d)
}
const dis= (p,d)=>{
    setTimeout(()=>{
    //  button.style.postion = "relative"
     button.style.display = p

    },d)
}

button.addEventListener("mouseover",()=>{
    // dis("none",500)
    glitching("40px",200)
    glitching("-10px",300)
    glitching("-40px",500)
    glitching("-20px",700)
    glitching("20px",900)
    glitching("-10px",1100)
    glitching("0px",1300)
    // dis("inline",600)
    // coloring("rgb(253, 5, 50)",200)
coloring("aquamarine",500)
coloring("rgb(253, 5, 50)",800);
coloring("rgb(32, 32, 32)",200);
coloring("rgb(32, 32, 32)",1150);
// coloring("gray",1500);
coloring("rgb(253, 5, 50)",2000);
coloring("aquamarine",2300);
})


// const haa=()=>{
//     console.log("klaus")
//     main.style.border = "1px red solid"
// }
// li1.addEventListener("mouseover",haa())
// const glitching2= (p,d)=>{
//     return new Promise ((resolve,reject) =>{

//     setTimeout(()=>{
//     //  button.style.postion = "relative"
//      letter.style.color = p

//     },d)
//     resolve()

// })
// }
// glitching2("aquamarine",1000)
// glitching2("rgb(253, 5, 50)",2000)
// glitching2("aquamarine",3000)
// glitching2("rgb(253, 5, 50)",4000)
    </script>
</body>
</html>