<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="homestyle.css"/> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Anton%7CBaskervville%7CRaleway&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <link rel="shortcut icon" type="image" href="https://yt3.ggpht.com/a/AATXAJzVDlAQCUpOohBqU9K3fYg11thQAmze5kwPzdjxDg=s900-c-k-c0xffffffff-no-rj-mo">

    <title>Khaled</title>
</head>
<body>
    <style>
        html{
            height: fit-content;
        }
     .container{
    display: flex;      width: 100%;
        height: 850px;
        background-color: black;
     }.menubar{          /*  menubar start*/
        height: 100%;
        width: 8.5%;
        background-color: rgba(27, 27, 27,0.9);
     
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }.img1{
        width: 100%;
        height: 190px;
        background-color: black;
     }.fristul{
        /* background-color: brown; */
        width: 100%;
        height: fit-content;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
       
        margin: 0%;
     }.menueli1{
        display: flex;
        align-items: center;
        justify-content: center;
        width:100%;
        height: 45px;
        color: #a3a0a0e5;
        border-top: 3px rgb(32, 32, 32) solid;
        /* background-color: red; */
        z-index: 4;
        cursor: pointer;
        font-weight: 700;
        font-size:larger;
        /* font-style: italic; */
        transition: 0.5s;
     }.lastli{
        border-bottom: 3px rgb(32, 32, 32) solid;
     
     }.menueli1a{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        display: flex;
        /* background-color: beige; */
       justify-content: center;
       align-items: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color:#a3a0a0e5 ;
     }.menueli1a:hover{
      
        color: aquamarine;
     }
     .menueli1:hover{
        color: aquamarine;
        border-top: 1px aquamarine solid;
        /* border-bottom: 1px aquamarine solid; */
        border-bottom: 1px rgb(253, 5, 50) solid;
        text-shadow: 5px  5px  0 rgb(253, 5, 50);
        border-left: 1px rgb(253, 5, 50) solid;
     }.secul{
          /* background-color: brown; */
          width: 100%;
        height: fit-content;
        list-style: none;
        display: flex;
        /* flex-direction: column; */
        justify-content: space-evenly;
        align-items: center;
        padding: 0%;
        margin: 0%;
     }#profile-link{
        color: #DDD;
        text-decoration: none;
        height: 20px;
     }
     i{
        /* height: 20px; */
       /* background-color: blue; */
       font-size:x-large;
       transition: 0.5s; 
    }
     
    i:hover{
        color: aquamarine;
        /* border-top: 1px aquamarine solid; */
        /* border-right: 1px aquamarine solid; */
        /* border-bottom: 1px rgb(253, 5, 50) solid; */
        /* border-left: 1px rgb(253, 5, 50) solid; */
        text-shadow: 5px  5px  0 rgb(253, 5, 50);

     }
     
     
     
     
     
     /*  menubar end*/
     .main{
        width: 91.5%;
        height: 100%;
        /* background-color: aqua; */
        display: flex;
        /* border: 1px aqua solid; */
       background-color: rgb(32, 32, 32);
       background-image: url("https://res.cloudinary.com/dfbspvgdo/image/upload/v1703334426/Yelp-camp/xrwebdo5bzi0uxbn8xpj.gif");
       background-size: cover;         /* width: 3450vh; */
         }.skills{
        width: 50%;
        /* margin: 60px auto; */
        color:#fff;
        /* font-size:medium; */
        padding: 10px;
        /* box-shadow: 0 14px 28px rgba(0, 0, 0,0.25),0 10px 10px rgba(0, 0, 0,0.22); */
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        /* text-shadow:5px 5px rgb(253, 5, 50) ;  */
    }.skills li {
        margin: 20px 0;
    }.bar{
      width: 80%;
        background: #353b48;
       display: block;
       height: 15px;
       border: 1px solid rgba(0, 0, 0,0.3);
       border-radius: 10px;
       overflow: hidden; 
       box-shadow: 0 1px 3px rgba(0, 0, 0,0.12),0 1px 2px rgba(0, 0, 0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    /* .bar:hover{
        box-shadow: 10px  10px  0 rgb(253, 5, 50);

    } */
    .bar span{
        height: 18px;
        float: left;
        background: linear-gradient(135deg,aqua 0%,rgba(244, 244, 244,1)100%);
    }.html{
        
        width: 90%;
        animation: html 3s;
    }
    .css{
        width: 80%;
        animation: css 3s;
    }
    .js{
        width: 85%;
        animation: js 3s;
    }
    .bootstrap{
        width: 75%;
        animation: bootstrap 3s;
    }
    .metro{
        width: 90%;
        animation: metro 3s;
    }.terminal{
        width: 60%;
        animation: terminal 3s;
    }.node{
        width: 85%;
        animation: node 3s;
    }.npm{
        width: 90%;
        animation: npm 3s;
    }.mongo{
        width: 70%;
        animation: mongo 3s;
    }.sql{
        width: 40%;
        animation: sql 3s;
    }.wordpress{
        width: 50%;
        animation: wordpress 3s;
    } .elmentor{
        width: 50%;
        animation: elmentor 3s;
    }.multi{
        width: 95%;
        animation: multi 3s;
    }.pressure{
        width: 95%;
        animation: multi 3s;
    }.softskills{
        width: 95%;
        animation: multi 3s;
    }.english{
        width: 95%;
        animation: multi 3s;
    }.german{
        width: 30%;
        animation: german 3s;
    }@keyframes german{
        0%{
            
            width:0%;
        }100%{
            width: 30%;
        }
    }
    @keyframes multi{
        0%{
            
            width:0%;
        }100%{
            width: 95%;
        }
    } 
    @keyframes elmentor{
        0%{
            
            width:0%;
        }100%{
            width: 40%;
        }
    } 
    @keyframes wordpress{
        0%{
            
            width:0%;
        }100%{
            width: 50%;
        }
    }
    @keyframes sql{
        0%{
            
            width:0%;
        }100%{
            width: 40%;
        }
    }
     @keyframes mongo{
        0%{
            
            width:0%;
        }100%{
            width: 70%;
        }
    }
     @keyframes npm{
        0%{
            
            width:0%;
        }100%{
            width: 90%;
        }
    }
    @keyframes node{
        0%{
            
            width:0%;
        }100%{
            width: 85%;
        }
    }
     @keyframes terminal{
        0%{
            
            width:0%;
        }100%{
            width: 60%;
        }
    }

    @keyframes html{
        0%{
            width:0%;
        }100%{
            width: 90%;
        }
    }@keyframes css{
        0%{
            width:0%;
        }100%{
            width: 80%;
        }
    }@keyframes js{
        0%{
            width:0%;
        }100%{
            width: 85%;
        }
    }@keyframes bootstrap{
        0%{
            width:0%;
        }100%{
            width: 75%;
        }
    }@keyframes metro{
        0%{
            width:0%;
        }100%{
            width: 90%;
        }
    }
     .mainh1{
       background-color: bisque;
        color: white;
        font-size: 100px;
     }.mainbutton{
        width: 230px;
        height: 60px;
        border: 2px aquamarine solid;
        background-color: rgb(32, 32, 32) ;
        color: aquamarine;
        font-weight: 800;
        font-size: 15px;
        cursor: pointer;
        transition: 0.7s;
        position: relative;

        /* left:70%; */
     }.mainbutton:hover{
        color: rgb(253, 5, 50);
        border: 2px rgb(253, 5, 50) solid;
     }.main-p{
        /* background-color: aqua; */
        width: 100%;
        height: fit-content;
        font-size: 25px;
        font-family:'Times New Roman', Times, serif;
        font-style: italic;
        color: #a3a0a0e5;
     }
     body{
        background-color: black;
        /* width: fit-content; */
        height:fit-content ;
        padding: 0%;
        margin: 0%;
     }.mainh1::first-letter{
         color:rgb(253, 5, 50) ;
     }li{
        list-style: none;
     }@media ( max-width: 1000px){
        i{
        /* height: 20px; */
       /* background-color: blue; */
       font-size:x-small;
    
    }
    .menueli1{
       font-weight: 300;
       font-size:8px;
        
     }
         
    }
    </style>
    <div class="container">
    <div class="menubar">
        <!-- <div class="img1"> -->
            <img id="hp-video" class="img1"  playsinline="" autoplay="" muted="" loop="" src="https://res.cloudinary.com/dfbspvgdo/image/upload/v1703261314/Yelp-camp/zayppptghjdeimqqsmd7.gif">
            <!-- </video> -->
        <!-- </div> -->
        <ul class="fristul">
            <li class="menueli1"><a href="/" class="menueli1a">About</a></li>
            <li class="menueli1"><a href="/skills" class="menueli1a">My Skills</a></li>
            <li class="menueli1"><a href="/experiance" class="menueli1a">Experiace </a></li>
           <li class="menueli1"><a href="/projects" class="menueli1a"> Projects </a></li>
            <li class="menueli1 lastli"><a href="/contacts" class="menueli1a">Contacts</a></li>
        
        </ul>
        <ul class="secul">
            <li class="secli2"><a href="https://www.facebook.com/khaled.shrief.9?mibextid=ZbWKwL" id="profile-link" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li class="secli2"><a href="" id="profile-link" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li class="secli2"><a href="" id="profile-link" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li class="secli2"><a href="https://www.linkedin.com/in/khaled-shrief-a9a004228" id="profile-link" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
        <div></div>
    </div>
    <div class="main">
        <!-- <h1 class="mainh1">My Skills</h1> -->
        <div class="skills">
    <li><h3>Html</h3><span class="bar"><span class="html"></span></span></li>
    <li><h3>Css</h3><span class="bar"><span class="css"></span></span></li>
    <li><h3>JavaScript</h3><span class="bar"><span class="js"></span></span></li>
    <li><h3>BootStrap</h3><span class="bar"><span class="bootstrap"></span></span></li>
    <li><h3>Metro UI</h3><span class="bar"><span class="metro"></span></span></li>
    <li><h3>Terminal</h3><span class="bar"><span class="terminal"></span></span></li>
    <li><h3>NodeJS</h3><span class="bar"><span class="node"></span></span></li>
    <li><h3>NPM</h3><span class="bar"><span class="npm"></span></span></li>
    <li><h3>MongoDB</h3><span class="bar"><span class="mongo"></span></span></li>
    <li><h3>Mysql</h3><span class="bar"><span class="sql"></span></span></li>
    
</div>
<div class="skills">
    <li><h3>Word press</h3><span class="bar"><span class="wordpress"></span></span></li>
    <li><h3>Elmentor</h3><span class="bar"><span class="elmentor"></span></span></li>
    <li><h3>Multitasking with time management</h3><span class="bar"><span class="multi"></span></span></li>
    <li><h3>Skilled with working under pressure</h3><span class="bar"><span class="pressure"></span></span></li>
    <li><h3>Soft skills</h3><span class="bar"><span class="softskills"></span></span></li>
    <li><h3>English</h3><span class="bar"><span class="english"></span></span></li>
    <li><h3>German</h3><span class="bar"><span class="german"></span></span></li>
    
</div>
    </div>
    <script>
    const li1 = document.querySelectorAll(".menueli1") 
    const button = document.querySelector(".mainbutton")
    const letter = document.querySelector(".mainh1::first-letter")
    const main = document.querySelector(".main")
    const coloring =(color,delay)=>{
 return new Promise ((resolve,reject) =>{
    setTimeout(()=>{
        button.style.color= color;
        button.style.border=`2px ${color} solid`;
    },delay)  
    resolve()
 });
};
const glitching= (p,d)=>{
    setTimeout(()=>{
    //  button.style.postion = "relative"
     button.style.left = p

    },d)
}
const dis= (p,d)=>{
    setTimeout(()=>{
    //  button.style.postion = "relative"
     button.style.display = p

    },d)
}

button.addEventListener("mouseover",()=>{
    // dis("none",500)
    glitching("40px",200)
    glitching("-10px",300)
    glitching("-40px",500)
    glitching("-20px",700)
    glitching("20px",900)
    glitching("-10px",1100)
    glitching("0px",1300)
    // dis("inline",600)
    // coloring("rgb(253, 5, 50)",200)
coloring("aquamarine",500)
coloring("rgb(253, 5, 50)",800);
coloring("rgb(32, 32, 32)",200);
coloring("rgb(32, 32, 32)",1150);
// coloring("gray",1500);
coloring("rgb(253, 5, 50)",2000);
coloring("aquamarine",2300);
})


// const haa=()=>{
//     console.log("klaus")
//     main.style.border = "1px red solid"
// }
// li1.addEventListener("mouseover",haa())
// const glitching2= (p,d)=>{
//     return new Promise ((resolve,reject) =>{

//     setTimeout(()=>{
//     //  button.style.postion = "relative"
//      letter.style.color = p

//     },d)
//     resolve()

// })
// }
// glitching2("aquamarine",1000)
// glitching2("rgb(253, 5, 50)",2000)
// glitching2("aquamarine",3000)
// glitching2("rgb(253, 5, 50)",4000)
    </script>
</body>
</html>